<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>테이블 번호</th>
                <th>워크인 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="walkIn : ${walkIns}">
                <td th:text="${walkIn.tableNo}"></td>
                <td th:text="${#temporals.format(walkIn.walkInDate,'yyyy-MM-dd-HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>