<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>테이블 번호</th>
                <th>고객 아이디</th>
                <th>예약 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.tableNo}"></td>
                <td th:text="${reservation.customerId}"></td>
                <td th:text="${#temporals.format(reservation.reservationDate,'yyyy-MM-dd-HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>