<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/reservations/new" method="post">
    <div class="form-group">
      <label for="customerID">고객 아이디</label>
      <input type="text" name="customerID" id="customerID"><br>
      <label for="tableNo">테이블 번호</label>
      <input type="text" name="tableNo" id="tableNo"><br>
      <label for="reservationDate">예약 날짜</label>
      <input type="text" id="reservationDate" name="reservationDate" placeholder="예약 날짜 yyyy-MM-dd-HH:mm:ss"><br>
    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>